<!--{% extends 'base.html' %}
{% load static %}
{% block navbar %}{% endblock %}
{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="home-header-setting">
            <h1 class="display-3">Hello, TSMC Newcomers!</h1>
            <p>This plateform provides TSMC newcomers with helpful information and communication channels, making it easy to transition into TSMC.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more about TSMC&raquo;</a></p>
        </div>
    </div>
</div>

<div>

</div>

<div class="info-card">
    <div class="card">
        <div class="card-header info-title">Dorm Registration</div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card-body">
                        <p class="card-title">Hsinchu Science Park</p>
                        <p class="card-text">
                            Something about dorm registration.<br>
                            Like the location<br>
                            Or utilities
                        </p>
                        <a href="#" class="btn btn-outline-success my-2 my-sm-0">Click here to start registration</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card-body">
                        <p class="card-title">Central Taiwan Science Park</p>
                        <p class="card-text">
                            Something about dorm registration.<br>
                            Like the location<br>
                            Or utilities
                        </p>
                        <a href="#" class="btn btn-outline-success my-2 my-sm-0">Click here to start registration</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card-body">
                        <p class="card-title">Southern Taiwan Science Park</p>
                        <p class="card-text">
                            Something about dorm registration.<br>
                            Like the location<br>
                            Or utilities
                        </p>
                        <a href="#" class="btn btn-outline-success my-2 my-sm-0">Click here to start registration</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="info-card">
    <div class="card">
        <div class="card-header info-title">Traffic Information</div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card-body">
                        <p class="card-title">Hsinchu Science Park</p>
                        <p class="card-text">
                            Something about dorm registration.<br>
                            Like the location<br>
                            Or utilities
                        </p>
                        <a href="#" class="btn btn-outline-success my-2 my-sm-0">Click here to start registration</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card-body">
                        <p class="card-title">Central Taiwan Science Park</p>
                        <p class="card-text">
                            Something about dorm registration.<br>
                            Like the location<br>
                            Or utilities
                        </p>
                        <a href="#" class="btn btn-outline-success my-2 my-sm-0">Click here to start registration</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card-body">
                        <p class="card-title">Southern Taiwan Science Park</p>
                        <p class="card-text">
                            Something about dorm registration.<br>
                            Like the location<br>
                            Or utilities
                        </p>
                        <a href="#" class="btn btn-outline-success my-2 my-sm-0">Click here to start registration</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}-->