.info-card {
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    font-size: 1rem;
}

.info-title{
    font-weight: 630;
}


.card-text, li {
    font-size: 1rem;
}